@charset "UTF-8";

/*TODAS AS DEMAIS MEDIA*/

@media print{

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    main{
        border: 2px solid black;
    }

    main > h1{
        text-shadow: none;
        color: black;
    }

    img#phone{
        display: none;
    }

    img#print{
        display: block;
        margin: auto;
    }

}

@media screen and (min-width:768px) and (max-width:992px){ /*TABLET*/
    body{
        background-image: url(../back-tablet.jpg);
    }

    img#phone{
        display: none;
    }

    img#tablet{
        display: block;
        margin: auto;
    }
    
}

@media screen and (min-width:992px) and (max-width:1200px) { /*PC*/

    body{
        background-image: url(../back-pc.jpg);
    }

    img#phone{
        display: none;
    }

    img#pc{
        display: block;
        margin: auto;
    }
    
}

@media screen and (min-width:1200px) { /*TELAS GRANDES*/

    body{
        background-image: url(../back-tv.jpg);
    }

    img#phone{
        display: none;
    }

    img#tv{
        display: block;
        margin: auto;
    }
    
}

